examples/example.json
[{"id":"22514021.e2b82","type":"debug","z":"73a506ee.f55b38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":865,"y":345,"wires":[]},{"id":"a892884e.c28778","type":"sqlite","z":"73a506ee.f55b38","mydb":"53312931.03f9a8","sqlquery":"msg.topic","sql":"","name":"chinook.db","x":720,"y":160,"wires":[["9696856b.b186f8"]]},{"id":"8ba0e096.c9b5f","type":"graphql-in","z":"73a506ee.f55b38","path":"/chinook","method":"getandpost","schema":"6818a3dc.d677bc","graphi":true,"timeout":5000,"resolverstype":"nonscalar","resolvers":[{"id":"Album","checkbox":true,"label":"Album","selected":false,"expanded":true,"children":[{"id":"Album.AlbumId","label":"AlbumId: ID","checkbox":true,"selected":false},{"id":"Album.Title","label":"Title: String","checkbox":true,"selected":false},{"id":"Album.Artist","label":"Artist: Artist","checkbox":true,"selected":true}]},{"id":"Artist","checkbox":true,"label":"Artist","selected":false,"expanded":true,"children":[{"id":"Artist.ArtistId","label":"ArtistId: ID","checkbox":true,"selected":false},{"id":"Artist.Name","label":"Name: String","checkbox":true,"selected":false}]},{"id":"Customer","checkbox":true,"label":"Customer","selected":false,"expanded":true,"children":[{"id":"Customer.CustomerId","label":"CustomerId: ID","checkbox":true,"selected":false},{"id":"Customer.FirstName","label":"FirstName: String","checkbox":true,"selected":false},{"id":"Customer.LastName","label":"LastName: String","checkbox":true,"selected":false},{"id":"Customer.Company","label":"Company: String","checkbox":true,"selected":false},{"id":"Customer.Address","label":"Address: String","checkbox":true,"selected":false},{"id":"Customer.City","label":"City: String","checkbox":true,"selected":false},{"id":"Customer.State","label":"State: String","checkbox":true,"selected":false},{"id":"Customer.Country","label":"Country: String","checkbox":true,"selected":false},{"id":"Customer.PostalCode","label":"PostalCode: String","checkbox":true,"selected":false},{"id":"Customer.Phone","label":"Phone: String","checkbox":true,"selected":false},{"id":"Customer.Email","label":"Email: String","checkbox":true,"selected":false},{"id":"Customer.SupportRep","label":"SupportRep: Employee","checkbox":true,"selected":true},{"id":"Customer.Invoices","label":"Invoices: [Invoice]","checkbox":true,"selected":true}]},{"id":"CustomersConnection","checkbox":true,"label":"CustomersConnection","selected":false,"expanded":true,"children":[{"id":"CustomersConnection.pageInfo","label":"pageInfo: PageInfo!","checkbox":true,"selected":true},{"id":"CustomersConnection.edges","label":"edges: [CustomersEdge]","checkbox":true,"selected":true},{"id":"CustomersConnection.totalCount","label":"totalCount: Int","checkbox":true,"selected":false},{"id":"CustomersConnection.customers","label":"customers: [Customer]","checkbox":true,"selected":true}]},{"id":"CustomersEdge","checkbox":true,"label":"CustomersEdge","selected":false,"expanded":true,"children":[{"id":"CustomersEdge.node","label":"node: Customer","checkbox":true,"selected":false},{"id":"CustomersEdge.cursor","label":"cursor: String!","checkbox":true,"selected":false}]},{"id":"Employee","checkbox":true,"label":"Employee","selected":false,"expanded":true,"children":[{"id":"Employee.EmployeeId","label":"EmployeeId: ID","checkbox":true,"selected":false},{"id":"Employee.FirstName","label":"FirstName: String","checkbox":true,"selected":false},{"id":"Employee.LastName","label":"LastName: String","checkbox":true,"selected":false},{"id":"Employee.Title","label":"Title: String","checkbox":true,"selected":false},{"id":"Employee.ReportsTo","label":"ReportsTo: Employee","checkbox":true,"selected":false},{"id":"Employee.BirthDate","label":"BirthDate: Date","checkbox":true,"selected":false},{"id":"Employee.HireDate","label":"HireDate: Date","checkbox":true,"selected":false},{"id":"Employee.Address","label":"Address: String","checkbox":true,"selected":false}]},{"id":"EmployeesEdge","checkbox":true,"label":"EmployeesEdge","selected":false,"expanded":true,"children":[{"id":"EmployeesEdge.node","label":"node: Employee","checkbox":true,"selected":false},{"id":"EmployeesEdge.cursor","label":"cursor: String!","checkbox":true,"selected":false}]},{"id":"EmployeesList","checkbox":true,"label":"EmployeesList","selected":false,"expanded":true,"children":[{"id":"EmployeesList.pageInfo","label":"pageInfo: PageInfo!","checkbox":true,"selected":false},{"id":"EmployeesList.edges","label":"edges: [EmployeesEdge]","checkbox":true,"selected":false},{"id":"EmployeesList.totalCount","label":"totalCount: Int","checkbox":true,"selected":false},{"id":"EmployeesList.customers","label":"customers: [Customer]","checkbox":true,"selected":false}]},{"id":"Genre","checkbox":true,"label":"Genre","selected":false,"expanded":true,"children":[{"id":"Genre.GenreId","label":"GenreId: ID","checkbox":true,"selected":false},{"id":"Genre.name","label":"name: String","checkbox":true,"selected":false}]},{"id":"Invoice","checkbox":true,"label":"Invoice","selected":false,"expanded":true,"children":[{"id":"Invoice.InvoiceId","label":"InvoiceId: ID","checkbox":true,"selected":false},{"id":"Invoice.Customer","label":"Customer: Customer","checkbox":true,"selected":false},{"id":"Invoice.Items","label":"Items: [InvoiceItem]","checkbox":true,"selected":false},{"id":"Invoice.InvoiceDate","label":"InvoiceDate: String","checkbox":true,"selected":false},{"id":"Invoice.BillingAddress","label":"BillingAddress: String","checkbox":true,"selected":false},{"id":"Invoice.BillingCity","label":"BillingCity: String","checkbox":true,"selected":false}]},{"id":"InvoiceItem","checkbox":true,"label":"InvoiceItem","selected":false,"expanded":true,"children":[{"id":"InvoiceItem.InvoiceItemId","label":"InvoiceItemId: ID","checkbox":true,"selected":false},{"id":"InvoiceItem.Invoice","label":"Invoice: Invoice","checkbox":true,"selected":false},{"id":"InvoiceItem.Track","label":"Track: Track","checkbox":true,"selected":false},{"id":"InvoiceItem.UnitPrice","label":"UnitPrice: Int","checkbox":true,"selected":false},{"id":"InvoiceItem.Quantity","label":"Quantity: Int","checkbox":true,"selected":false}]},{"id":"MediaType","checkbox":true,"label":"MediaType","selected":false,"expanded":true,"children":[{"id":"MediaType.MediaTypeId","label":"MediaTypeId: ID","checkbox":true,"selected":false},{"id":"MediaType.name","label":"name: String","checkbox":true,"selected":false}]},{"id":"PageInfo","checkbox":true,"label":"PageInfo","selected":false,"expanded":true,"children":[{"id":"PageInfo.hasNextPage","label":"hasNextPage: Boolean!","checkbox":true,"selected":false},{"id":"PageInfo.hasPreviousPage","label":"hasPreviousPage: Boolean!","checkbox":true,"selected":false},{"id":"PageInfo.startCursor","label":"startCursor: String","checkbox":true,"selected":false},{"id":"PageInfo.endCursor","label":"endCursor: String","checkbox":true,"selected":false}]},{"id":"PlayList","checkbox":true,"label":"PlayList","selected":false,"expanded":true,"children":[{"id":"PlayList.PlayListId","label":"PlayListId: ID","checkbox":true,"selected":false},{"id":"PlayList.Tracks","label":"Tracks: [Track]","checkbox":true,"selected":false}]},{"id":"Track","checkbox":true,"label":"Track","selected":false,"expanded":true,"children":[{"id":"Track.TrackId","label":"TrackId: ID","checkbox":true,"selected":false},{"id":"Track.Name","label":"Name: String","checkbox":true,"selected":false},{"id":"Track.Album","label":"Album: Album","checkbox":true,"selected":false},{"id":"Track.MediaType","label":"MediaType: MediaType","checkbox":true,"selected":false},{"id":"Track.PlayLists","label":"PlayLists: [PlayList]","checkbox":true,"selected":false},{"id":"Track.Genre","label":"Genre: Genre","checkbox":true,"selected":false},{"id":"Track.Composer","label":"Composer: String","checkbox":true,"selected":false},{"id":"Track.Milliseconds","label":"Milliseconds: Int","checkbox":true,"selected":false},{"id":"Track.Bytes","label":"Bytes: Int","checkbox":true,"selected":false},{"id":"Track.UnitPrice","label":"UnitPrice: Int","checkbox":true,"selected":false}]}],"usedataloader":true,"useSubscriptionServer":true,"subscriptionsPath":"/subscriptions","name":"/chinook","x":160,"y":125,"wires":[["d1229be4.50a268","f3c84d52.a06e5","b4020620.5bb628"]]},{"id":"d1229be4.50a268","type":"switch","z":"73a506ee.f55b38","name":"","property":"graphql.fieldPath","propertyType":"msg","rules":[{"t":"eq","v":"Query.allCustomers","vt":"str"},{"t":"eq","v":"Customer.SupportRep","vt":"str"},{"t":"eq","v":"CustomersConnection.customers","vt":"str"},{"t":"eq","v":"CustomersConnection.edges","vt":"str"},{"t":"eq","v":"Employee.ReportsTo","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":340,"y":165,"wires":[["733e4c94.4ce694"],["e997a9fd.0e9578"],["463f19b9.e72458"],["650d8395.e5ba9c"],["c02fd1cf.5f1fa"]]},{"id":"f3c84d52.a06e5","type":"debug","z":"73a506ee.f55b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":365,"y":65,"wires":[]},{"id":"5f6484f.332917c","type":"graphql-out","z":"73a506ee.f55b38","name":"","output":"payload","outputType":"msg","returnformat":"nochange","return":"asis","returnarrayindx":0,"x":1160,"y":150,"wires":[]},{"id":"5c126354.fc283c","type":"sqlite","z":"73a506ee.f55b38","mydb":"53312931.03f9a8","sqlquery":"msg.topic","sql":"","name":"chinook.db","x":735,"y":70,"wires":[["a3b96562.ca1998"]]},{"id":"c0fa6ac.cb32f98","type":"sqlite","z":"73a506ee.f55b38","mydb":"53312931.03f9a8","sqlquery":"msg.topic","sql":"","name":"chinook.db","x":725,"y":115,"wires":[["841900ef.80e6f"]]},{"id":"64d5f817.33d6c8","type":"sqlite","z":"73a506ee.f55b38","mydb":"53312931.03f9a8","sqlquery":"msg.topic","sql":"","name":"chinook.db","x":725,"y":205,"wires":[["5f6484f.332917c"]]},{"id":"733e4c94.4ce694","type":"change","z":"73a506ee.f55b38","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT count(*) from Customer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":70,"wires":[["5c126354.fc283c"]]},{"id":"e997a9fd.0e9578","type":"change","z":"73a506ee.f55b38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join($map(graphql.parent.payload.CustomerId,$string),\",\")\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"\"select c.CustomerId,c.FirstName,c.LastName,c.Address,c.Company,c.Email,c.Phone,c.Fax,c.Country,e.EmployeeId,e.FirstName,e.LastName,e.ReportsTo,e.BirthDate,e.HireDate,e.Phone,e.Address,e.Email,e.Country from customer c left outer join employee e on c.SupportRepId = e.EmployeeId\" \t& \" WHERE c.customerId IN (\" & payload & \")\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":115,"wires":[["c0fa6ac.cb32f98"]]},{"id":"463f19b9.e72458","type":"change","z":"73a506ee.f55b38","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * from Customer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":160,"wires":[["a892884e.c28778"]]},{"id":"650d8395.e5ba9c","type":"change","z":"73a506ee.f55b38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"params\":null,\"limit\":null}","tot":"json"},{"t":"set","p":"payload.params","pt":"msg","to":"($st:= $reduce(\t   graphql.root.args,\t   function($a, $v, $i, $arr){\t       $a & $join(\t           $each(\t               $v,\t               function($val, $key) \t                {\t                   $key=\"after\" ? \"RowNum>\"& $val:$key=\"before\"?\"RowNum<\"&\t                   $val\t               }\t           )\t,\t           \" AND \"\t       )\t\t   },\t   \"\"\t);\t$length($st)>0?\"WHERE \" & $st\t)\t","tot":"jsonata"},{"t":"set","p":"payload.limit","pt":"msg","to":"graphql.root.args.first?\" LIMIT \" & graphql.root.args.first:graphql.root.args.last?\" LIMIT \" &\t graphql.parent[0].totalCount & \" OFFSET \" & (graphql.parent[0].totalCount - graphql.root.args.last) ","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"\"SELECT * FROM (SELECT ROW_NUMBER() OVER(ORDER BY c.CustomerId ) AS RowNum, * from customer c) \" & payload.params & payload.limit","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":205,"wires":[["64d5f817.33d6c8"]]},{"id":"9696856b.b186f8","type":"change","z":"73a506ee.f55b38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[[payload]]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":165,"wires":[["5f6484f.332917c"]]},{"id":"841900ef.80e6f","type":"change","z":"73a506ee.f55b38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"($res:=payload{$string(CustomerId):$} ~> $each(function($v){\t    $v\t});\tgraphql.config.useDataLoader?($type($res)=\"array\"?$res:[$res]):$res\t\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":915,"y":125,"wires":[["5f6484f.332917c"]]},{"id":"a3b96562.ca1998","type":"change","z":"73a506ee.f55b38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"totalCount\":payload[0].\"count(*)\"}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":915,"y":85,"wires":[["5f6484f.332917c"]]},{"id":"c02fd1cf.5f1fa","type":"change","z":"73a506ee.f55b38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join($map(graphql.parent.payload.ReportsTo,$string),\",\")\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"\"select e.EmployeeId,e.ReportsTo,e.FirstName,e.LastName,e.BirthDate,e.HireDate,e.Phone,e.Title,e.Address,e.Email,e.Country from Employee e\" \t& \" WHERE e.EmployeeId IN (\" & payload & \")\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":545,"y":250,"wires":[["e23e4dc.5c9f2b"]]},{"id":"e23e4dc.5c9f2b","type":"sqlite","z":"73a506ee.f55b38","mydb":"53312931.03f9a8","sqlquery":"msg.topic","sql":"","name":"chinook.db","x":725,"y":250,"wires":[["aa266cc8.aa574","54d05462.8f172c"]]},{"id":"aa266cc8.aa574","type":"change","z":"73a506ee.f55b38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"graphql.config.useDataLoader?\t(\t   $res:=$map(\t       graphql.parent.payload,\t       function($v){\t           payload[EmployeeId=$v.ReportsTo]\t        \t        }\t   );\t   $type($res)=\"array\"?$res:[$res];\t   )\t: payload{$string(EmployeeId):$} ~> $each(function($v){\t    $v})\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":250,"wires":[["5f6484f.332917c","6b4fadc6.bcff84"]]},{"id":"b4020620.5bb628","type":"switch","z":"73a506ee.f55b38","name":"","property":"graphql.fieldPath","propertyType":"msg","rules":[{"t":"eq","v":"Employee.HireDate","vt":"str"},{"t":"eq","v":"Employee.BirthDate","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":335,"y":310,"wires":[["121203f0.cedd0c"],["1bcf720c.ba603e"]]},{"id":"1bcf720c.ba603e","type":"change","z":"73a506ee.f55b38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"graphql.parent.payload.BirthDate","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":335,"wires":[["fe2d74a3.c28158"]]},{"id":"fe2d74a3.c28158","type":"graphql-out","z":"73a506ee.f55b38","name":"","output":"payload","outputType":"msg","returnformat":"nochange","return":"forcedarray","returnarrayindx":0,"x":725,"y":305,"wires":[]},{"id":"121203f0.cedd0c","type":"change","z":"73a506ee.f55b38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"graphql.parent.payload.HireDate","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":295,"wires":[["fe2d74a3.c28158"]]},{"id":"6b4fadc6.bcff84","type":"debug","z":"73a506ee.f55b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":300,"wires":[]},{"id":"54d05462.8f172c","type":"debug","z":"73a506ee.f55b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":300,"wires":[]},{"id":"53312931.03f9a8","type":"sqlitedb","db":"/Users/islam/chinook.sqlite","mode":"RWC"},{"id":"6818a3dc.d677bc","type":"graphql-schema","name":"chinook2","schema":"# GraphQL from graph at:\n# graphqleditor.com\n\ntype Query{\n\tallCustomers(\n\t\tafter : String\n\t\tfirst : Int\n\t\tbefore : String\n\t\tlast : Int\n\t\tfilter : customersFilter\n\t\torder : customersOrderBy\n\t) : CustomersConnection\n\tCustomer(\n\t\tcustomerId : ID!\n\t) : Customer\n\tallEmployees(\n\t\tafter : String\n\t\tfirst : Int\n\t\tbefore : String\n\t\tlast : Int\n\t) : EmployeesList\n\tEmployee(\n\t\temployeeId : ID!\n\t) : Employee\n}\n\ninput customersFilter{\n\tFirstName : String\n\tLastName : String\n\tCountry : String\n\tCity : String\n\tCompany : String\n\tPostalCode : String\n}\n\nenum customersOrderBy{\n\tbyID\n\tbyFirstName\n\tbyLastName\n\tbyCountry\n\tbyCity\n\tbyCompany\n\tbyPostalCode\n}\n\n\"\"\"\nA connection to a list of items.\n\"\"\"\ntype CustomersConnection{\n\t\"\"\"\n\tInformation to aid in pagination.\n\t\"\"\"\n\tpageInfo : PageInfo!\n\t\"\"\"\n\tA list of edges.\n\t\"\"\"\n\tedges : [CustomersEdge]\n\t\"\"\"\n\t\t\t\t\t\t\t\t\t\t\t\t\t\tA count of the total number of objects in this connection, ignoring pagination.\nThis allows a client to fetch the first five objects by passing \"5\" as the\nargument to \"first\", then fetch the total count so it could display \"5 of 83\",\nfor example.\n\t\"\"\"\n\ttotalCount : Int\n\t\"\"\"\n\t\t\t\t\t\t\t\t\t\t\t\t\t\tA list of all of the objects returned in the connection. This is a convenience\nfield provided for quickly exploring the API; rather than querying for\n\"{ edges { node } }\" when no edge data is needed, this field can be be used\ninstead. Note that when clients like Relay need to fetch the \"cursor\" field on\nthe edge to enable efficient pagination, this shortcut cannot be used, and the\nfull \"{ edges { node } }\" version should be used instead.\n\t\"\"\"\n\tcustomers : [Customer]\n}\n\n\"\"\"\nInformation about pagination in a connection.\n\"\"\"\ntype PageInfo{\n\t\"\"\"\n\tWhen paginating forwards, are there more items?\n\t\"\"\"\n\thasNextPage : Boolean!\n\t\"\"\"\n\tWhen paginating backwards, are there more items?\n\t\"\"\"\n\thasPreviousPage : Boolean!\n\t\"\"\"\n\tWhen paginating backwards, the cursor to continue.\n\t\"\"\"\n\tstartCursor : String\n\t\"\"\"\n\tWhen paginating forwards, the cursor to continue.\n\t\"\"\"\n\tendCursor : String\n}\n\n\"\"\"\nAn edge in a page.\n\"\"\"\ntype CustomersEdge{\n\t\"\"\"\n\tThe item at the end of the edge\n\t\"\"\"\n\tnode : Customer\n\t\"\"\"\n\tA cursor for use in pagination\n\t\"\"\"\n\tcursor : String!\n}\n\ntype Customer{\n\tCustomerId : ID\n\tFirstName : String\n\tLastName : String\n\tCompany : String\n\tAddress : String\n\tCity : String\n\tState : String\n\tCountry : String\n\tPostalCode : String\n\tPhone : String\n\tEmail : String\n\tSupportRep : Employee\n\tInvoices : [Invoice]\n}\n\ntype Employee{\n\tEmployeeId : ID\n\tFirstName : String\n\tLastName : String\n\tTitle : String\n\tReportsTo : Employee\n\tBirthDate : Date\n\tHireDate : Date\n\tAddress : String\n}\n\nscalar Date\n\ntype Invoice{\n\tInvoiceId : ID\n\tCustomer : Customer\n\tItems : [InvoiceItem]\n\tInvoiceDate : String\n\tBillingAddress : String\n\tBillingCity : String\n}\n\ntype InvoiceItem{\n\tInvoiceItemId : ID\n\tInvoice : Invoice\n\tTrack : Track\n\tUnitPrice : Int\n\tQuantity : Int\n}\n\ntype Track{\n\tTrackId : ID\n\tName : String\n\tAlbum : Album\n\tMediaType : MediaType\n\tPlayLists : [PlayList]\n\tGenre : Genre\n\tComposer : String\n\tMilliseconds : Int\n\tBytes : Int\n\tUnitPrice : Int\n}\n\ntype Album{\n\tAlbumId : ID\n\tTitle : String\n\tArtist : Artist\n}\n\ntype Artist{\n\tArtistId : ID\n\tName : String\n}\n\ntype MediaType{\n\tMediaTypeId : ID\n\tname : String\n}\n\ntype PlayList{\n\tPlayListId : ID\n\tTracks : [Track]\n}\n\ntype Genre{\n\tGenreId : ID\n\tname : String\n}\n\n\"\"\"\nA connection to a list of items.\n\"\"\"\ntype EmployeesList{\n\t\"\"\"\n\tInformation to aid in pagination.\n\t\"\"\"\n\tpageInfo : PageInfo!\n\t\"\"\"\n\tA list of edges.\n\t\"\"\"\n\tedges : [EmployeesEdge]\n\t\"\"\"\n\t\t\t\t\t\t\t\t\t\t\t\t\t\tA count of the total number of objects in this connection, ignoring pagination.\nThis allows a client to fetch the first five objects by passing \"5\" as the\nargument to \"first\", then fetch the total count so it could display \"5 of 83\",\nfor example.\n\t\"\"\"\n\ttotalCount : Int\n\t\"\"\"\n\t\t\t\t\t\t\t\t\t\t\t\t\t\tA list of all of the objects returned in the connection. This is a convenience\nfield provided for quickly exploring the API; rather than querying for\n\"{ edges { node } }\" when no edge data is needed, this field can be be used\ninstead. Note that when clients like Relay need to fetch the \"cursor\" field on\nthe edge to enable efficient pagination, this shortcut cannot be used, and the\nfull \"{ edges { node } }\" version should be used instead.\n\t\"\"\"\n\tcustomers : [Customer]\n}\n\n\"\"\"\nAn edge in a page.\n\"\"\"\ntype EmployeesEdge{\n\t\"\"\"\n\tThe item at the end of the edge\n\t\"\"\"\n\tnode : Employee\n\t\"\"\"\n\tA cursor for use in pagination\n\t\"\"\"\n\tcursor : String!\n}\n\ntype Mutation{\n\taddCustomer(\n\t\tinput : CustomerInput\n\t) : Customer\n}\n\ninput CustomerInput{\n\tFirstName : String\n\tLastName : String\n\tCompany : String\n\tAddress : String\n\tEmail : String\n}\n\ntype Subscription{\n\tcustomerAdded : Customer\n}\nschema{\n\tquery: Query,\n\tmutation: Mutation,\n\tsubscription: Subscription\n}","pagination":true,"cursorField":"RowNum"}]